#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

image:
  # -- image repository
  repository: docker.io/vaultwarden/server
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  tag: 1.34.3-alpine

controller:
  # -- Set the controller upgrade strategy
  strategy: RollingUpdate

# -- environment variables. [[ref]](https://github.com/dani-garcia/vaultwarden/blob/main/.env.template)
# @default -- See [values.yaml](./values.yaml)
env:
  # -- Token for the admin interface, preferably use a long random string.
  #    If not set, the admin panel is disabled.
  #    [[ref]](https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#secure-the-admin_token)
  TZ: Europe/London
  DATABASE_URL:
    valueFrom:
      secretKeyRef:
        name: vaultwarden-database-app
        key: fqdn-uri
  WEBSOCKET_ENABLED: "true"
  ENABLE_DB_WAL: "false"
securityContext:
  runAsUser: 1000
  runAsGroup: 9003
  capabilities:
    add:
      - NET_BIND_SERVICE
service:
  # -- Configures service settings for the chart. Normally this does not need to be modified.
  # @default -- See [values.yaml](./values.yaml)
  main:
    ports:
      http:
        port: 8080
      websocket:
        enabled: false
        port: 3012

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  main:
    enabled: true
    ingressClassName: "traefik"
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - host: vaultwarden.thephysicsflat.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              port: 8080

    tls:
      - secretName: vaultwarden-tls
        hosts:
          - "vaultwarden.thephysicsflat.xyz"
persistence:
  # -- Configure persistence settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  data:
    enabled: true
    mountPath: /data
    type: nfs
    server: nfs.home.thephysicsflat.xyz
    path: /srv/config/vaultwarden/data

# -- Compute resources used by the container
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
