#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/geek-cookbook/library-charts/tree/main/charts/stable/common/values.yaml
#

image:
  # -- image repository
  repository: ghcr.io/crocodilestick/calibre-web-automated
  # -- image pull policy
  pullPolicy: Always
  # -- image tag
  tag: "latest"

# -- environment variables.
# @default -- See below
env:
  # -- Set the container timezone
  TZ: Europe/London
  PUID: 1000
  PGID: 1000
  NETWORK_SHARE_MODE: false

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 8083

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - host: calibre-web.thephysicsflat.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              port: 8083

    tls:
      - secretName: calibre-web-tls
        hosts:
          - "calibre-web.thephysicsflat.xyz"

# -- Compute resources used by the container
resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  config:
    enabled: true
    mountPath: /config
    type: pvc
    retain: true
    storageClass: nfs-client
  books:
    enabled: true
    type: nfs
    mountPath: /calibre-library
    server: nfs.home.thephysicsflat.xyz
    path: /srv/books/Books
  ingest:
    enabled: true
    type: nfs
    mountPath: /cwa-book-ingest
    server: nfs.home.thephysicsflat.xyz
    path: /srv/books/Ingest
