#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#
image:
  # -- image repository
  repository: binwiederhier/ntfy
  # -- image tag
  # @default -- chart.appVersion
  tag: v2.15.0
  # -- image pull policy
  pullPolicy: IfNotPresent

# -- environment variables. See more environment variables in the [ntfy documentation](https://ntfy.org/docs).
# @default -- See below
env:
  # -- Set the container timezone
  TZ: Europe/London

envFrom:
  - secretRef:
      name: ntfy-data

# -- Configures command args to run the docker image in server mode
# @default -- See values.yaml
args:
  - serve

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 80

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - host: ntfy.thephysicsflat.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              port: 80

    tls:
      - secretName: ntfy-tls
        hosts:
          - "ntfy.thephysicsflat.xyz"
# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  cache:
    enabled: true
    mountPath: /var/cache/ntfy
    type: pvc
    retain: true
    storageClass: nfs-ephemeral
    accessMode: ReadWriteOnce
    size: 1G
  config:
    enabled: true
    mountPath: /etc/ntfy
    type: configMap
    name: ntfy-server
  lib:
    enabled: true
    mountPath: /var/lib/ntfy
    type: pvc
    retain: true
    storageClass: nfs-client
    accessMode: ReadWriteOnce
    size: 1G

# -- Compute resources used by the container
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
