apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: woodpecker

resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - woodpecker-configs-gitea.yaml

configMapGenerator:
  - name: woodpecker-values
    namespace: woodpecker
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
