apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: audiobookshelf

resources:
  - namespace.yaml
  - pvc.yaml
  - release.yaml

configMapGenerator:
  - name: audiobookshelf-values
    namespace: audiobookshelf
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
