apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik-ingress
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: "39.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik-ingress
      interval: 12h
  upgrade:
    crds: CreateReplace
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
      valuesKey: values.yaml
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-default
  namespace: traefik-ingress
spec:
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: letsencrypt
  secretName: traefik-default-tls
  usages:
    - digital signature
    - key encipherment
  dnsNames:
    - "*.thephysicsflat.xyz"
    - "*.x86.thephysicsflat.xyz"
    - "*.home.thephysicsflat.xyz"
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true" # Auto create reflection for matching namespaces

---
