apiVersion: v1
kind: Namespace
metadata:
    name: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: ingress-nginx
    namespace: ingress-nginx
spec:
    interval: 24h
    url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
    name: nginx-default
    namespace: ingress-nginx
spec:
    issuerRef:
        group: cert-manager.io
        kind: ClusterIssuer
        name: letsencrypt
    secretName: nginx-default-tls
    usages:
        - digital signature
        - key encipherment
    dnsNames:
        - "*.thephysicsflat.xyz"
        - "*.x86.thephysicsflat.xyz"
        - "*.home.thephysicsflat.xyz"
    secretTemplate:
        annotations:
            reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
            reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true" # Auto create reflection for matching namespaces
