apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ingress-traefik
  - metallb.yaml
  - cloudnative-pg
  - emqx
  - flux-notifications
  - amdgpu-labeller.yaml
  - generic-device-plugin
  - stakater-reloader
  #- ./weave
configurations:
  - kustomizeconfig.yaml
