apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - metallb.yaml
  - cert-manager.yaml
  - cloudnative-pg
  - emqx
  - ingress-nginx.yaml
  - ingress-traefik
  - nfs-provisioner
  - flux-notifications
  - amdgpu-labeller.yaml
  - generic-device-plugin
  - tailscale
  - prometheus
  - secret-reflector.yaml
  - stakater-reloader
  #- ./weave
configurations:
  - kustomizeconfig.yaml
