apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kubitodev
  namespace: dynamic-dns
spec:
  interval: 60m
  url: https://charts.kubito.dev
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dynamic-dns
  namespace: dynamic-dns
spec:
  chart:
    spec:
      chart: kubernetes-cloudflare-ddns
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: kubitodev
        namespace: dynamic-dns
  targetNamespace: dynamic-dns
  interval: 60m0s
  valuesFrom:
    - kind: ConfigMap
      name: dynamic-dns
