---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    # Replace the email address with your own contact email
    email: james@thephysicsflat.xyz
    # The server is replaced in /clusters/production/infrastructure.yaml
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-nginx
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token
---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: default-bundle
spec:
  sources:
    - useDefaultCAs: true
  target:
    configMap:
      key: trust-bundle.pem
