# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.4/charts/library/common/values.schema.json
#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

controllers:
  keydb:
    # -- Controller type
    type: statefulset
    containers:
      app:
        image:
          # -- Image repository
          repository: eqalpha/keydb
          # -- Image pull policy
          pullPolicy: IfNotPresent
          # -- Image tag
          tag: alpine_x86_64_v6.3.4

        # -- Environment variables.
        # @default -- See [values.yaml](./values.yaml)
        env:
          # -- Set the container timezone
          TZ: UTC
          # KEYDB_PASSWORD:

        # -- KeyDB container security context
        securityContext:
          readOnlyRootFilesystem: true
        probes:
          startup:
            enabled: true
            custom: true
            spec:
              exec:
                command: [/health/probe_readiness.sh]
              periodSeconds: 5
              failureThreshold: 30
              timeoutSeconds: 2
          liveness:
            enabled: true
            custom: true
            spec:
              exec:
                command: [/health/probe_liveness.sh]
              periodSeconds: 10
              failureThreshold: 5
              timeoutSeconds: 2
          readiness:
            enabled: true
            custom: true
            spec:
              exec:
                command: [/health/probe_readiness.sh]
              periodSeconds: 10
              failureThreshold: 5
              timeoutSeconds: 2

    # -- Pod security context
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        fsGroup: 999

    statefulset:
      # -- Used to create individual disks for each instance.
      volumeClaimTemplates:
        - name: data
          globalMounts:
            - path: /data
          storageClass: ""
          accessMode: ReadWriteOnce
          size: 1Gi

# @ignored
service:
  keydb:
    controller: keydb
    ports:
      keydb:
        port: 6379

# -- Configure persistence for the chart under this key.
# @default -- See [values.yaml](./values.yaml)
persistence:
  data:
    enabled: false
    retain: false
    storageClass: "longhorn"
    accessMode: ReadWriteOnce
    size: 1Gi
  health:
    enabled: true
    type: configMap
    name: keydb-health
    defaultMode: 0755

configMaps:
  health:
    enabled: true
    data:
      probe_liveness.sh: |
        #!/bin/sh
        [[ -n "$KEYDB_PASSWORD" ]] && export REDISCLI_AUTH="$KEYDB_PASSWORD"
        response=$(redis-cli -h localhost ping)
        responseFirstWord="$(echo "$response" | head -n1 | cut -d' ' -f1)"
        if [[ "$response" != PONG ]] && [[ "$responseFirstWord" != LOADING ]] && [[ "$responseFirstWord" != MASTERDOWN ]]; then
          echo "$response"
          exit 1
        fi
      probe_readiness.sh: |
        #!/bin/sh
        [[ -n "$KEYDB_PASSWORD" ]] && export REDISCLI_AUTH="$KEYDB_PASSWORD"
        response=$(redis-cli -h localhost ping)
        if [[ "$response" != PONG ]]; then
          echo "$response"
          exit 1
        fi
