apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns-system

resources:
  - namespace.yaml
  - repository.yaml
  - pihole-password.yaml
  - release.yaml

configMapGenerator:
  - name: external-dns-values
    namespace: external-dns-system
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
