apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pihole

resources:
  - namespace.yaml
  - repository.yaml
  - pihole-password.yaml
  - cors-middleware.yaml
  - release.yaml

configMapGenerator:
  - name: pihole-values
    namespace: pihole
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
