apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

resources:
  - namespace.yaml
  - service.yaml
  - ingress.yaml
  - mqtt.yaml
  - rtl433.yaml
  - rtl433-sd.yaml
  - rtl_433_secrets.yaml
