apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: jellyfin

resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - subgen

configMapGenerator:
  - name: jellyfin-values
    namespace: jellyfin
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
