## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s-labs/helm-charts/tree/common-4.3.0/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.2.3
        env:
          REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          # Add the env vars to connect to your database here.
          DB_HOSTNAME: "{{ .Release.Name }}-postgres-rw.immich.svc.cluster.local"
          DB_USERNAME: "{{ .Values.postgresql.global.postgresql.auth.username }}"
          DB_DATABASE_NAME: "{{ .Values.postgresql.global.postgresql.auth.database }}"
          # -- You should provide your own secret outside of this helm-chart and use `postgresql.global.postgresql.auth.existingSecret` to provide credentials to the postgresql instance
          DB_PASSWORD: "{{ .Values.postgresql.global.postgresql.auth.password }}"
immich:
  metrics:
    # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
    enabled: true
  persistence:
    # Main data store for all photos shared between different components.
    library:
      # Automatically creating the library volume is not supported by this chart
      # You have to specify an existing PVC to use
      existingClaim: immich-data

  # configuration is immich-config.json converted to yaml
  # ref: https://immich.app/docs/install/config-file/
  #
  configuration:
    ffmpeg:
      accel: "vaapi"
      accelDecode: true
      preset: "medium"
      acceptedVideoCodecs:
        - h264
        - hevc
        - vp9
    trash:
      enabled: true
      days: 30
    storageTemplate:
      enabled: true
      template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"
    oauth:
      enabled: true
      clientId: immich
      signingAlgorithm: ES256
      issuerUrl: https://idm.thephysicsflat.xyz/oauth2/openid/immich
      mobileOverrideEnabled: true
      mobileRedirectUri: "https://immich.thephysicsflat.xyz/api/oauth/mobile-redirect"
    server:
      externalDomain: "https://immich.thephysicsflat.xyz"
    passwordLogin:
      enabled: false
# Dependencies

valkey:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/valkey/valkey
            tag: 9.0-alpine@sha256:73f3aa08d95879525aa0dc84ebf6b82b59b898a24e8067a37d6250c31ee2c4d4
            pullPolicy: IfNotPresent
  persistence:
    data:
      enabled: true
      size: 1Gi
      # Optional: Set this to persistentVolumeClaim to keep job queues persistent
      type: emptyDir
      accessMode: ReadWriteOnce
      # storageClass: your-class

# Immich components

server:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-server
            pullPolicy: IfNotPresent
            resources:
              limits:
                cpu: "4"
                memory: 4Gi
                amd.com/gpu: "1"
              requests:
                memory: 500Mi
                amd.com/gpu: "1"
                cpu: "2"
            nodeSelector:
              kubernetes.io/arch: amd64
            annotations:
              reloader.stakater.com/auto: "true"
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        # proxy-body-size is set to 0 to remove the body limit on file uploads
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        cert-manager.io/cluster-issuer: letsencrypt

      hosts:
        - host: immich.thephysicsflat.xyz
          paths:
            - path: "/"
              service:
                identifier: main
      tls:
        - secretName: immich-tls
          hosts:
            - "immich.thephysicsflat.xyz"

machine-learning:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-machine-learning
            pullPolicy: IfNotPresent
          env:
            TRANSFORMERS_CACHE: /cache
            HF_XET_CACHE: /cache/huggingface-xet
            MPLCONFIGDIR: /cache/matplotlib-config
        nodeSelector:
          kubernetes.io/arch: amd64
  persistence:
    cache:
      enabled: true
      size: 10Gi
      # Optional: Set this to pvc to avoid downloading the ML models every start.
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: nfs-client
